@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courrier Prime", monospace;
}

html {
    height: 100%;
}

body { 
    color: rgb(255, 255, 255); 
    overflow: hidden; 
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../Photos/map\ ancien\ Guadeloupe.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
}

body {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.body-scroll {
  opacity: 0;
}

.home {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding-bottom: 50px;
}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
}

.start-btn-container {
    margin-top: 40px;
}

.start-btn {
    display: inline-block;
    padding: 10px 10px;
    background: rgba(227, 179, 107);
    border: 1px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
        cursor: pointer; 
        transition: .5s;
}

.start-btn:hover {
    background: rgba(175, 125, 62);
    box-shadow: none;
}

.gwada-btn-container {
    margin-top: 20px;
}

.gwada-btn {
    display: inline-block;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid #fff;
    outline: rgba(243, 169, 48);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none; 
        transition: 0.4s ease; 
        cursor: pointer;
}

.gwada-btn:hover {
    background: rgba(243, 169, 48);
    box-shadow: none;
}